<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script type="text/javascript" src="js/libraries/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="js/libraries/underscore-1.8.2.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/libraries/backbone-1.1.2.js"></script>
    <script type="text/javascript" src="js/libraries/require-2.1.16.js"></script>
    <script type="text/javascript" src="js/libraries/Highcharts-4.1.4/js/highcharts.js"></script>
    <script type="text/javascript" src="js/libraries/Highcharts-4.1.4/js/modules/exporting.js"></script>
    <script type="text/javascript" src="js/backbone_base_classes.js"></script>
    <script type="text/javascript" src="js/bb_models_collections.js"></script>
    <script type="text/javascript" src="js/respiration_graph.js"></script>


   <script type="text/template" id="scenario-species">
     <div class="species_row">
     <tr>
     <td>t0: <%= name %></td>
     <td>t0: <%= t0 %></td>
     <td>k: <%= k %></td>
     <td>r0: <%= r0 %></td>
     <td>e0: <%= e0 %></td>
     </tr>
   </div> 
   </script>
   <script type="text/template" id="scenario-template">
     <div class="scenario-row">
       <div class="scenario-title">
         <h4 style="display: inline;">Scenario Row Template</h4>
         <button type="button" class="btn btn-danger btn-xs deleteScenario" style="display: inline;">Delete Scenario </button>
         <div class="colorswatch" id="scenario-swatch" style="display: inline;">
	      &nbsp;&nbsp;&nbsp;&nbsp;
	     </div>
	     <input type="text" class="scenario-name" id="scenario-name" name="<%= scenario-name %>" value='<%= scenario-name %>' />
	   </div><!-- End Scenario Title -->
	   <div class="inner-species-box">
	      <div class="species-table-header">
              <div class="species-add-header">
	            <button type="button" class="btn btn-success btn-xs addSpecies">Add Species</button>
	            Species List
              </div>
	          <div class="species-predefined-list" style="display: none;">
        	      <div class="species-predefined-choice" data-id="acer_rubrum" name="Acer rubrum">Acer rubrum</div>
                  <div class="species-predefined-choice" data-id="berberis_thumbergii" name="Berberis thumbergii">Berberis thumbergii</div>
                  <div class="species-predefined-choice" data-id="betula_lenta" name="Betula lenta">Betula lenta</div>
                  <div class="species-predefined-choice" data-id="betula_papyrifera" name="Betula papyrifera">Betula papyrifera</div>
                  <div class="species-predefined-choice" data-id="carya_glabra" name="Carya glabra">Carya glabra</div>
                  <div class="species-predefined-choice" data-id="kalmia_latifolia" name="Kalmia latifolia">Kalmia latifolia</div>
                  <div class="species-predefined-choice" data-id="liriodendron_tulipifera" name="Liriodendron tulipifera">Liriodendron tulipifera</div>
                  <div class="species-predefined-choice" data-id="platanus_occidentalis" name="Platanus occidentalis">Platanus occidentalis</div>
                  <div class="species-predefined-choice" data-id="populus_tremuloides" name="Populus tremuloides">Populus tremuloides</div>
                  <div class="species-predefined-choice" data-id="populus_grandidentata" name="Populus grandidentata">Populus grandidentata</div>
                  <div class="species-predefined-choice" data-id="quercus_prinus" name="Quercus prinus">Quercus prinus</div>
	              <div class="species-predefined-choice" data-id="quercus_rubra" name="Quercus rubra">Quercus rubra</div>
	              <div class="species-predefined-choice" data-id="vaccinium_corymbosum" name="Vaccinium corymbosum">Vaccinium corymbosum</div>
              </div>
          </div>
          <!-- End Species Table Header -->
          <!-- Table Contains Rows of Species for a given Scenario -->
          <div class="species-table-area">
            <table style="margin-left:50px;width: 87%;" class="species-row-container">
              <!-- Each Species Should Be Added as a Series of Table Row - 2 per tree -->
            </table>
          </div><!-- End Species Table Area -->
        </div><!-- End Inner Species Box -->
      </div><!-- End Scenario Row Div -->
   </script>
  </head>

  <body>
  <h3>Tree Graph</h3>
    <ul class="nav nav-tabs tree-graph-nav">
      <li class="active"><a href="#leaf-graph-pane" data-toggle="tab">Leaf Level</a></li>
      <li><a href="#canopy-graph-pane" data-toggle="tab">Canopy Level</a></li>
    </ul>
 
    <div class="tree-graph tab-content">
    
      <div class="tab-pane active" id="leaf-graph-pane">
        <div id="container">
        </div>
      </div>
      
      <div class="tab-pane" id="canopy-graph-pane">
        <div id="container2"></div>
        <div id="canopy-graph">
          <!-- This is where the graph is drawn -->
        </div>
        
        <div id="canopy-table">
            <div id="scenario-table-header">Scenario List <button type="button" class="btn btn-success btn-xs addScenario">Add Scenario</button>
            </div> <!-- End Scenario Table Header -->
            
            <div id="scenario-row-box">  
            </div><!-- End Scenario Row Box -->
        </div><!-- End Canopy Table -->
      </div> <!-- End of 2nd tab panel canopy-graph -->
    </div><!-- End Tab Content Div -->
  </body>
</html>